.super-password-protection {
    width: 100vw;
    height: 100vh;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    color: black;
    background-image: url(https://ak.picdn.net/shutterstock/videos/28418404/thumb/12.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}
