.super-password-protection {
    width: 100vw;
    height: 100vh;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    color: white;
    background-image: url(https://static.vecteezy.com/system/resources/previews/001/978/711/non_2x/red-geadient-abstract-background-free-vector.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}
